@font-face {
  font-family: FontAwesome;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
}
body {
    padding: 0;
    margin: 0;
    background: #ffffff;
}

.navbar {
    background:#020a52;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #aaaaaa;
}
.navbar-collapse {
    justify-content: flex-end;
}
.header {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #6ab446;
}
.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.card-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.card img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

#certCard {
	width: 15vw;
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}
html {
  scroll-behavior: smooth;
}
.accordion{
	padding: 1em;
}

.card-header .btn.btn-block h2:after {
    /* symbol for "opening" panels */
	font-family: FontAwesome;
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
	font-weight: 900;
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
	float: right;
	transform: rotate(180deg);
}
.card-header .btn.btn-block.collapsed h2:after {
    /* symbol for "collapsed" panels */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
	font-weight: 900;
	float: right;
	transform: rotate(0deg)
}

